/* slightly transparent fallback */
.backdrop-blur {
    background-color: rgba(0, 0, 0, .2);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .backdrop-blur {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

html {
    border-style: none !important;
    border: none !important;
   /* background-color: #0d0420 !important;
    */
    color: white;
    background: rgb(14, 32, 32);
    background: radial-gradient( circle, rgba(14, 32, 32, 1) 0%, rgba(13, 4, 32, 1) 100% );
}
#body {
    border-style: none !important;
    border: none !important;
    color: white;
    background: rgb(14, 32, 32);
    background: radial-gradient( circle, rgba(14, 32, 32, 1) 0%, rgba(13, 4, 32, 1) 100% );
    padding-bottom: 50px;
}

#firstTabOverall {
    color: white;
}

#firstTabOverall thead {
    display: flex;
    flex-direction: column-reverse;
}

#firstTabOverall td,
#tablehead td {
    width: 215px;
}

#firstTabOverall button {
    color: white;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin-right: 8px;
}

#na {
    height: 80px !important;
}
@media only screen and (max-width: 600px) {
    #im {
        height: 85px;
   }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #im {
        height: 100px;
        padding-bottom: 0px !important;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #im {
        height: 150px;
   }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #im {
        height: 170px;
   }
}
.blur-b {
    opacity: 1;
    backdrop-filter: blur(50px);
}
.nav-link {
    margin-left: 35px;
    color: white !important;
}
.nav-link:hover {
    color: bisque !important;
}
#fluid1 {
    color: white;
    margin-top: 100px !important;
}
#fluid3 {
    /* box-shadow: rgba(241, 236, 236, 0.363) 0px 5px 15px; */
    margin-left: 10px;
    border-radius: 30px;
}
.img {
    border-radius: 30px;
}
.btn {
    margin-top: 25px;
}
.topcontent1 {
    margin-top: 25px;
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media only screen and (max-width: 600px) {
    .topcontent1 {
        font-size: 35px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   }
    .ml11 {
        font-size: 15px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   }
    #fluid2 {
        margin-left: 25px;
   }
    #topb {
        width: auto;
        height: auto;
   }
    #fluid3 {
        display: none;
   }
}
@media only screen and (max-width: 470px) {
    #fluid2 {
        margin-left: 20px !important;
   }
}
@media only screen and (max-width: 590px) {
    #discover {
        margin-top: 10px !important;
   }
}
.ml11 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: #fff;
    transform-origin: 0 50%;
}
.ml11 .line1 {
    top: 0;
    left: 0;
}
.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}
.card {
    min-width: 200px;
    max-width: 20rem;
    border-radius: 5px;
    display: inline-block;
    background-color: #0d0420;
    color: #ffffff;
   /* margin-right: auto;
    */
    margin-left: auto;
    margin-top: 5px !important;
    margin-bottom: 30px;
   /* padding-top: 30px;
    */
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   /* animation: fadeIn 5s;
    */
}
.card-text {
    margin-top: 20px;
}
.col-sm-4 {
    width: 170px;
}
#secondpart {
    margin-top: 85px;
    padding-bottom: 50px;
}
#secondpart1 {
   /* position: relative;
    */
    padding-top: 20px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(161, 161, 168, 0.897) 0px 0px 60px -12px, rgba(161, 155, 155, 0.829) 0px 18px 36px -18px;
}
/* #wo{
    position: absolute;
}
*/
.writing {
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.writing1 {
    margin-bottom: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.img-fluid {
    border-radius: 10px;
}
#tool {
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid yellow;
   /* display: flex;
    */
}
#tool1 {
    margin-top: auto;
    margin-left: auto;
   /* padding-top: 10px;
    */
   /* flex: 1;
    */
}
#tool2 {
    padding-top: 30px;
    margin-right: auto;
    text-align: left !important;
    position: relative;
   /* flex: 2;
    */
}
#discover {
    margin-left: 10px;
    margin-top: auto;
    width: 150px;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid yellow;
    background-color: #03000a;
    border-radius: none;
}
#discover:hover {
    color: #03000a;
    background-color: yellow;
}
#discover1 {
    text-align: center;
}
#discover1 > h1 {
    margin: 0;
}
#dform {
    margin-top: 20px;
    position: relative;
}
.dwriting {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 30px;
}
#fb {
    margin-top: 20px;
    border-radius: 10px !important;
    width: 150px;
    color: white;
    border-color: #e45267;
    background-color: #e45267;
}
#fb:hover {
    border-style: solid;
    background-color: #f6576e;
}
#fb1 {
    margin-top: 10px !important;
}
#form-message-success {
    margin-bottom: 20px !important;
}
#fb2 {
    margin-top: 30px;
}
.fb3 {
    text-align: center;
    margin-top: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#fbmain1 {
    background-color: white;
}
#fbmain {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 30px;
    background: rgb(14, 32, 32);
    background: radial-gradient( circle, rgba(14, 32, 32, 1) 0%, rgba(13, 4, 32, 1) 100% );
    color: #ffffff;
   /* margin: 10px;
    padding-top: 30px;
    */
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* pricing */
#price1 {
    border-radius: 10px;
    color: white !important;
    background: radial-gradient( circle, rgba(14, 32, 32, 1) 0%, rgba(13, 4, 32, 1) 100% );
    height: 500px;
}
/* #price1:hover{
    background-color: blueviolet !important;
}
*/
/* .col-lg-4:hover{
    border-color: solid black !important;
}
*/
.text-custom, .navbar-custom .navbar-nav li a:hover, .navbar-custom .navbar-nav li a:active, .navbar-custom .navbar-nav li.active a, .service-box .services-icon, .price-features p i, .faq-icon, .social .social-icon:hover {
    color: #f6576e !important;
}
.bg-custom, .btn-custom, .timeline-page .timeline-item .date-label-left::after, .timeline-page .timeline-item .duration-right::after, .back-to-top:hover {
    background-color: #f6576e;
}
.btn-custom, .custom-form .form-control:focus, .social .social-icon:hover, .registration-input-box:focus {
    border-color: #f6576e;
}
.service-box .services-icon, .price-features p i {
    background-color: rgba(246, 87, 110, 0.1);
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open > .dropdown-toggle.btn-custom {
    border-color: #e45267;
    background-color: #e45267;
}
.price-box {
    padding: 20px;
}
.price-box:hover {
    border-style: solid;
    border-color: red;
   /* background-color: antiquewhite !important;
    */
}
.plan-price h1 span {
    font-size: 16px;
    color: wheat;
}
.price-features p i {
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    margin-right: 20px;
}
#pb {
    margin-top: 10px !important;
}
.pw {
    margin-top: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.pw1 {
    margin-bottom: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* footer */
.site-footer {
    background-color: #03000a;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}
.site-footer a {
    color: #737373;
}
.site-footer a:hover {
    color: wheat;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: wheat;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
   }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
   }
    .site-footer .copyright-text, .site-footer .social-icons {
        text-align: center;
   }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
   }
}

#sigma-container::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #000000;
    background-image: url('../img/login-background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

.tool-overlay {
    z-index: 1;
    position: absolute;
    bottom: -1em;
    top: 0;
    right: -5em;
    left: -1em;
}

.tool-overlay > .inner {
    position: absolute;
    background-color: #000000;
    width: 400px;
    padding: 2em 2em;
    z-index: 1;
    top: 6em;
    right: 0;
    margin: 0 auto;
    left: 0;
}

.tool-overlay button {
    padding: 0.3em 0.5em;
    font-size: 14px;
}